Repository kevinmichaelchen/geohints: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx oxlint {staged_files}
    format:
      glob: "*.{js,jsx,ts,tsx,json,md,yaml,yml,css}"
      run: npx oxfmt {staged_files}
      stage_fixed: true

feat(geo-72i): adopt Effect.fn for tracing and observability
  libs/scraper/src/scrapers/geohints.ts
  libs/scraper/src/scrapers/geomastr.ts
  libs/scraper/src/services/http-service.ts
  libs/scraper/src/services/r2-service.ts
  libs/scraper/src/services/storage-service.ts
Due: lint, format

bd sync: 2025-12-29 23:38:35
  .beads/issues.jsonl
Due: none

feat(geo-a5u): add progress logging to long-running scraper operations
  libs/scraper/src/scrapers/geohints.ts
  libs/scraper/src/scrapers/geomastr.ts
Due: lint, format

bd sync: 2025-12-29 23:41:55
  .beads/issues.jsonl
Due: none

bd sync: 2025-12-29 23:44:39
  .beads/issues.jsonl
Due: none

feat(geo-axm): enable Oxlint nested config for Effect-specific linting
  libs/scraper/.oxlintrc.json
Due: format

feat(geo-wb5): replace JavaScript Date with Effect DateTime
  libs/scraper/src/scrapers/geohints.ts
  libs/scraper/src/scrapers/geomastr.ts
  libs/shared/src/schemas/manifest.ts
Due: lint, format

feat(geo-xmg): replace try/catch with Effect.try for error handling
  libs/scraper/src/services/r2-service.ts
Due: lint, format

bd sync: 2025-12-29 23:57:09
  .beads/issues.jsonl
Due: none

bd sync: 2025-12-30 00:00:26
  .beads/issues.jsonl
Due: none

bd sync: 2025-12-30 00:14:37
  .beads/issues.jsonl
Due: none

feat(follow-cars): add follow cars page with 76 images from 25 countries
  apps/web/src/data/follow-cars.ts
  apps/web/src/routes/follow/index.tsx
Due: lint, format

fix(scraper): add --remote flag to R2 upload command
  libs/scraper/src/services/r2-service.ts
Due: lint, format

feat(home): add all meta categories and fix image rendering
  apps/web/src/components/features/CategoryGrid.tsx
  apps/web/src/components/features/Hero.tsx
Due: lint, format

feat(web): add Fontaine for font fallback metrics to reduce CLS
  apps/web/package.json
  apps/web/src/global.css
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: lint, format

feat(web): redesign with vintage cartography theme
  apps/web/src/components/features/CategoryGrid.tsx
  apps/web/src/components/features/Hero.tsx
  apps/web/src/components/layout/Footer.tsx
  apps/web/src/components/layout/Header.module.css
  apps/web/src/components/router-head/router-head.tsx
  apps/web/src/components/ui/CategoryCard.tsx
  apps/web/src/components/ui/GeoHintsLogo.tsx
  apps/web/src/components/ui/PageHeader.tsx
  apps/web/src/components/ui/RegionCard.tsx
  apps/web/src/global.css
  apps/web/src/routes/styles.css
Due: lint, format

bd sync: 2025-12-30 10:38:49
  .beads/issues.jsonl
Due: none

fix(bollards): update filter buttons and page styling for vintage theme
  apps/web/src/routes/bollards/index.tsx
Due: lint, format

feat(web): add table of contents to gallery pages
  apps/web/src/components/ui/TableOfContents.tsx
  apps/web/src/routes/[country]/index.tsx
  apps/web/src/routes/bollards/index.tsx
  apps/web/src/routes/follow/index.tsx
Due: lint, format

feat(web): add URL param state for continent filter
  apps/web/src/routes/bollards/index.tsx
  apps/web/src/routes/follow/index.tsx
Due: lint, format

bd sync: 2025-12-30 10:53:11
  .beads/issues.jsonl
Due: none

fix(web): update language pages to vintage theme
  apps/web/src/components/features/CharacterGrid.tsx
  apps/web/src/components/features/ResultsCount.tsx
  apps/web/src/components/features/SearchFilter.tsx
Due: lint, format

refactor(web): centralize country metadata for DRY multi-region support
  apps/web/src/data/bollards.ts
  apps/web/src/data/countries.ts
  apps/web/src/data/country-meta.ts
  apps/web/src/data/follow-cars.ts
  apps/web/src/routes/bollards/index.tsx
  apps/web/src/routes/follow/index.tsx
Due: lint, format

docs: add research on image similarity technologies for bollard clustering
  docs/research/image-similarity-technologies.md
Due: format

docs(research): add Apple MLX, object detection models, and detect→crop→embed workflow
  docs/research/image-similarity-technologies.md
Due: format

feat(image-clustering): add Kiro spec and Python POC
  .kiro/specs/10-image-clustering/design.md
  .kiro/specs/10-image-clustering/requirements.md
  poc/image-clustering/.gitignore
  poc/image-clustering/README.md
  poc/image-clustering/cluster.py
  poc/image-clustering/download_sample.py
  poc/image-clustering/pyproject.toml
  poc/image-clustering/uv.lock
  poc/image-clustering/visualize.py
Due: format

fix(image-clustering): fix POC download and dependency issues
  poc/image-clustering/download_sample.py
  poc/image-clustering/pyproject.toml
  poc/image-clustering/uv.lock
Due: none

feat(web): add domains page for ccTLD reference
  apps/web/src/components/features/CategoryGrid.tsx
  apps/web/src/components/layout/Header.module.css
  apps/web/src/components/layout/Header.tsx
  apps/web/src/data/domains.ts
  apps/web/src/routes/domains/index.tsx
Due: lint, format

fix(web): add logo padding and update favicon to match brand
  apps/web/public/favicon.svg
  apps/web/src/components/layout/Header.module.css
Due: format

chore: upgrade to Node.js 24 and pnpm 10
  .nvmrc
  package.json
Due: format

fix(web): remove duplicate dangerouslySetInnerHTML in router-head
  apps/web/src/components/router-head/router-head.tsx
Due: lint, format

fix(vercel): set framework to null for Build Output API
  vercel.json
Due: format

chore(vercel): add JSON schema for better validation
  vercel.json
Due: format
